*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #151515;
}
.navbar #logo{
    margin-left: 25px;
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    line-height: 52px;
    color: #ff1717;
    transition: 0.3s;
}
.navbar #logo:hover{
    width: 120px;
    border-color: #ff1717;
    box-shadow: 0 0 20px #ff4040;
}
.navbar ul{
    margin-left: 120px;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    padding: 15px;
    position: relative;
    margin-left: 40px;
    font-size: 17px;
    
}
.navbar ul li a{
    color:white;
    position: relative;
}
.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    margin-bottom: -5px;
    background-color: white;
    bottom: 0;
    left: 15;
    transform-origin: right;
    transition: transform .2s ease-in-out;
    transform: scaleX(0);
    
  }
  .navbar ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .mainph{
    margin-top: -60px;
  }
  .search{
    left:50px;
    margin-top: -595px;
    margin-left: 1200px;
  }
  .search{
    position: relative;
}

.input {
    padding: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    outline: none;
    transition: .5s;
}
.search:hover input{
    width: 250px;
    background: white;
    border-radius: 10px;
}
.search img{
    position: absolute;
    width: 15px;
    top: 50%;
    right: 290px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: white;
    transition: .2s;
}
.search:hover img{
    opacity: 0;
    z-index: -1;
}
.text{
    margin-top: 150px;
}
.text p, h1{
    color:white;
    margin-left: 150px;
    margin-top: 50px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
}

.text h1{
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
}
.text i{
    font-size:30px;
    margin-left: 150px;
    color:rgb(254, 192, 19);
    font-family: 'Puritan', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.play{
    position: absolute;
    margin-top: 50px;
    margin-left: 90px;
    display: flex;
    align-items: center;
}
.play img{
    width:60px;
    margin-left: 60px;
    cursor: pointer;
}
.play p{
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}
.box-container .box{
    position: relative;
    width: 250px;
    height:350px;
    margin:20px;
    top:200px;
    left:50px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(33, 33, 33);
    padding:20px;
    border-radius: 10px; 
    transition: 0.2s ease-in;
    margin-bottom: 100px;
}
.box-container .box:hover{
    background-color:rgb(47, 47, 47) ;
    transition: 0.2s ease-out;
}
.box-container .box .cover{
    width:200px;
    height:200px;
    object-fit: cover;
}
.box-container .box h2{
    margin-top: 30px;
    color:white;
    font-size: 15px;
}
.box-container .box p{
    color:grey;
    font-size: 15px;
}
.grid{
    display:grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
}
#button{
    position: absolute;
    width:60px;
    margin-left: 250px;
    margin-top: -60px;
    /* visibility: hidden;
    opacity: 0; */
}
#spotify p{
    position: absolute;
    font-size: 17px;
    color:white;
    margin-top: 140px;
    left: 655px;
    
}
#spotify img{
    width: 30px;
    position: absolute;
    margin-top: 135px;
    margin-left: 840px;
    margin-bottom: -200px;
}