*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #151515;
}
.navbar #logo{
    margin-left: 25px;
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    line-height: 52px;
    color: #ff1717;
    transition: 0.3s;
}
.navbar #logo:hover{
    width: 120px;
    border-color: #ff1717;
    box-shadow: 0 0 20px #ff4040;
}
.navbar ul{
    margin-left: 120px;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    padding: 15px;
    position: relative;
    margin-left: 40px;
    font-size: 17px;
    
}
.navbar ul li a{
    color:white;
    position: relative;
}
.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    margin-bottom: -5px;
    background-color: white;
    bottom: 0;
    left: 15;
    transform-origin: right;
    transition: transform .2s ease-in-out;
    transform: scaleX(0);
    
  }
  .navbar ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .mainph{
    margin-top: -60px;
  }
  .search{
    left:50px;
    margin-top: -595px;
    margin-left: 1217px;
  }
  .search{
    position: relative;
}

.input {
    padding: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    outline: none;
    transition: .5s;
}
.search:hover input{
    width: 250px;
    background: white;
    border-radius: 10px;
}
.search img{
    position: absolute;
    width: 15px;
    top: 50%;
    right: 290px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: white;
    transition: .2s;
}
.search:hover img{
    opacity: 0;
    z-index: -1;
}
.text{
    margin-top: 150px;
}
.text p, h1{
    color:white;
    margin-left: 150px;
    margin-top: 50px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
}

.text h1{
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
}
.text i{
    font-size:30px;
    margin-left: 150px;
    color:rgb(254, 192, 19);
    font-family: 'Puritan', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.play{
    position: absolute;
    margin-top: 50px;
    margin-left: 90px;
    display: flex;
    align-items: center;
}
.play img{
    width:60px;
    margin-left: 60px;
    cursor: pointer;
}
.play p{
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}
/* .box-container .box{
    position: relative;
    width: 250px;
    height:350px;
    margin:20px;
    top:200px;
    left:50px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(33, 33, 33);
    padding:20px;
    border-radius: 10px; 
    transition: 0.2s ease-in;
}
.box-container .box:hover{
    background-color:rgb(47, 47, 47) ;
    transition: 0.2s ease-out;
}
.box-container .box .cover{
    width:200px;
    height:200px;
    object-fit: cover;
}
.box-container .box h2{
    margin-top: 30px;
    color:white;
    font-size: 15px;
}
.box-container .box p{
    color:grey;
    font-size: 15px;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0,0,0,0.15);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.wrapper{
  width: 380px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0px 6px 15px var(--lightbshadow);
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i{
  font-size: 30px;
  color: var(--lightblack);
}
.top-bar i:first-child{
  margin-left: -7px;
}
.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: var(--lightblack);
}
.img-area{
  width: 100%;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details{
  text-align: center;
  margin: 30px 0;
}
.song-details p{
  color: var(--lightblack);
}
.song-details .name{
  font-size: 21px;
}
.song-details .artist{
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
}
.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}
.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
.progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer{
  margin-top: 2px;
}
.song-timer span{
  font-size: 13px;
  color: var(--lightblack);
}
.controls{
  margin: 40px 0 5px 0;
}
.controls i{
  font-size: 28px;
  user-select: none;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
}
.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.music-list{
  position: absolute;
  background: var(--white);
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
  transition: all 0.15s ease-out;
}
.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header .row{
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}
.header .row i{
  cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
  font-size: 22px;
  color: var(--lightblack);
}
.music-list ul{
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0px;
}
.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #E5E5E5;
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  font-size: 17px;
}
.music-list ul li .row p{
  opacity: 0.9;
}
ul li .audio-duration{
  font-size: 16px;
}
ul li.playing{
  pointer-events: none;
  color: var(--violet);
}